
<div>
    <img src="~/Images/pilt1.png" alt="Alternate Text" />
</div>
@*@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <img src="~/Images/pilt.png" alt="Alternate Text" />
</div>

<address>
    <strong>Kontaktandmed</strong> <br />
    Sõpruse pst 182<br />
    13424 Tallinn<br />
    <abbr title="Phone">Telefon:</abbr>
</address>

<address>
    <strong>Tallinna Tööstushariduskeskus</strong> <br />
    Kooli liik: Haridus- ja Teadusministeeriumi hallatav riigi kutseõppeasutus <br />
    Teeninduspiirkond: Eesti Vabariik <br />
    Registrikood: 70005559 <br />
</address>

<address>
    <strong>E-post:</strong>   <a href="mailto:info@tthk.ee">info@tthk.ee</a><br />
    <strong>Vastuvõtuinfo:</strong> <a href="mailto:vastuvott@tthk.ee">vastuvott@tthk.ee</a>
</address>*@