@{
        ViewBag.Title = "Kodu leht";
    }<head>
    <style>

        img {
            width: 1200px;
            height: 900px;
        }
    </style>
</head>

    <div class="jumbotron">
        <h1>Pealeht</h1>
    </div>

    <div class="row">
        <p>@ViewBag.Greeting, kallis sõber!</p>
        <img src="~/Images/@ViewBag.Hour" alt="aeg" />
    </div>