@{
        ViewBag.Title = "Kodu leht";
    }

    <div class="jumbotron">
        <h1>Pealeht</h1>
    </div>

    <div class="row">
        <p>@ViewBag.Greeting, kallis sõber!</p>
        <img src="~/Images/@ViewBag.Hour" alt="aeg" />
    </div>