<head>
    <style>
        img {
            width: 1200px;
            height: 900px;
        }
    </style>
</head>
@{
    ViewBag.Title = "Kutse";
}

<h2>Kutse</h2>
<div>
    <h1>@ViewBag.Greeting, kallis sõber</h1>
</div>
<div>
    @ViewBag.Message
    <img src="~/Images/@ViewBag.Month" alt="Alternate Text" />
</div>
<div>
    @Html.ActionLink("Vastus kutsele","Ankeet","Ankeet", new {@class="btn btn-primary"})
</div>