<head>
    <style>
        img {
            width: 1200px;
            height: 900px;
        }
    </style>
</head>
    <h2>Äitah</h2>
    <div>
        <p>Tänan sind, @Model.Name</p>
    </div>
    <div>
        @if (Model.WillAttend)
        {
            @:Ootame sind kallis sõber!
            <p>
                <img src="~/Images/ura.png" alt="aeg" />
            </p>
            <button onclick="open()">open</button>
            <script>
                function open() {
                    @{ 
                        WebMail.SmtpServer = "smtp.gmail.com";
                        WebMail.SmtpPort = 587;
                        WebMail.EnableSsl= true;
                        WebMail.UserName = "timur.denisenko.work@gmail.com";
                        WebMail.Password="duto ahun xrzh hjsq";
                        WebMail.From = "timur.denisenko.work@gmail.com";
                        WebMail.Send(@Model.Email, "Vastus kutsele ", "Meeldetuletus!");
                    }
                }
            </script>
                        }
                        else
                        {
            @:Väga kurb uudis. Näeme hiljem!
            <p>
                <img src="~/Images/neura.jpg" alt="aeg" />
            </p>
        }
        @ViewBag.Message
    </div>

